{% extends 'base.html' %}


{% block page_title %}
    Home
{% endblock page_title %}
   

{% block content %}

    <div class="container mx-auto pb-10">
        <div class="rounded-2xl bg-gray-800 h-50vh mt-32 mb-24 bg-cover bg-center -mx-8" style="background-image:url(https://images.unsplash.com/photo-1601621915196-2621bfb0cd6e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop) ;"></div>
        <div class="flex flex-wrap -mx-10 mb-10">
            {% for room in rooms %}
            {% include 'mixins/room_card.html' with room=room%}
        {% endfor %}
        </div>

        <div class="flex items-center justify-center container mx-auto">
            {% if page_obj.has_previous %}
                <a href="?page={{page_obj.previous_page_number}}" class="text-red-400"><i class="fas fa-arrow-left"></i></a>
            {% endif %}
            
            <span class="mx-3 font-medium">{{page_obj.number}} of {{page_obj.paginator.num_pages}}</span>
            
            {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}" class="text-red-400"><i class="fas fa-arrow-right"></i></a>    
            {% endif %}
        </div>
    </div>

{% endblock content %}
