@tailwind base;
@tailwind components;

.nav_link{
    @apply ml-8 border-b-2 border-white hover:border-red-400 flex items-center h-full;
    a{
        @apply py-10 px-3;
    }
}

.btn{
    @apply w-full border rounded-sm py-4 mb-2 text-center text-gray-600 border-gray-400;
}

.btn-link{
    @apply w-full border py-3 rounded-xl mb-2 text-center bg-red-400 border-red-400 text-white;
}

input,
textarea,
select{
    @apply w-full border rounded-sm py-4 mb-2 font-light border-gray-500 px-5 text-left;
    &:focus {
      @apply outline-none border-red-400;
    }   
}

select{
    height: 30px;
}

textarea{
    resize: none;
    height: 100px;
}

form{
    .input{
        @apply mb-2;
    &.has_error{
        input{
            @apply bg-red-100 border-gray-500;
            &:focus{
                @apply border-gray-500;
            }

        }
    }
    }
}

@keyframes messageFadeIn{
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    5%{
        opacity: 1;
        transform: translateY(50px);
    }
    95%{
        opacity: 1;
        transform: translateY(50px);
    }
    100%{
        opacity: 0;
        transform: translateY(-50px);
    }
}

.message{
    animation: messageFadeIn 5s ease-in-out forwards;
    &.error{
        @apply bg-red-600;
    }
    &.info{
        @apply bg-blue-500;
    }
    &.success{
        @apply bg-green-500;
    }
    &.warning{
        @apply bg-yellow-400;
    }
}

.border-section{
    @apply border-b border-gray-400 pb-8 mt-8;
}

@tailwind utilities;
